.card {
    height: 23rem;
    width: 21rem;
    margin: 1rem;
    box-shadow: 3px 2px 10px grey;
    color: #fff;
}

.card img {
        opacity: 0.5;
        transition: opacity 0.5s ease;
}

.card img:hover {
    opacity: 1;
}

.project-grid {
    min-height: 60vh;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#projects h1 {
    text-align: center;
    margin: 50px auto 20px;
    color: #fff;
    text-transform: uppercase;
}

#projects img {
    width: 100%;
    border-bottom: 1px solid #55198b;
    height: 80%;
}

.project-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#projects {
    padding: 5%;
}

.icons, a {
    text-decoration: none;
    color: #fff;
}

i {
    transform: scale(0.6);
    transition: 0.5s linear;
}
i:hover {
    color: rgb(240, 240, 20);
}